<h2><b>Resposta do Formulário Para Exposição Cultural</b></h2>
<p>Olá {{ message_body.nome }}, seu contato foi enviado com sucesso referente a Mensagem abaixo:</p>

<p><b>Mensagem</b>: {{ message_body.msg }}</p>